{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100
            }
        ],
        "react/prefer-stateless-function": "off",
        "react/jsx-filename-extension": "off",
        "no-use-before-define": "off",
        "react/jsx-curly-spacing": "off",
        "react/jsx-equals-spacing": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-tag-spacing": "off",
        "react/jsx-wrap-multilines": "off",
        "no-unused-expressions": "off",
        "operator-linebreak": "off",
        "react/require-default-props": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "object-curly-newline": [
            "error",
            {
                "consistent": true
            }
        ],
        "react/forbid-prop-types": [
            "error",
            {
                "forbid": ["any"]
            }
        ],
        "react/jsx-closing-bracket-location": ["on", "tag-aligned"],
        "consistent-return": "off",
        "import/no-extraneous-dependencies": "off"
    },
    "env": {
        "browser": true
    }
}
