html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  line-height: 1.65;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html,
body {
  background-color: #fff;
  color: #222;
  height: 100%;
  width: 100vw;
}

::selection {
  background-color: #1e56a9;
  color: #fff;
}
[role="grid"]:focus {
  outline: none;
}
svg {
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: #1e56a9;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  opacity: 0.8;
}
iframe {
  width: 100%;
  border: none;
}

svg {
  shape-rendering: crispEdges;
}
svg path,
svg circle {
  shape-rendering: geometricprecision;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 4px transparent;
  border-radius: 14px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

.f-reset {
  font-size: 1rem;
}
.f0 {
  font-size: 1.802032470703125em;
}
.f1 {
  font-size: 1.601806640625em;
}
.f2 {
  font-size: 1.423828125em;
}
.f3 {
  font-size: 1.265625em;
}
.f4 {
  font-size: 1.125em;
}
.f5 {
  font-size: 0.8888888888888888em;
}
.f6 {
  font-size: 0.7901234567901234em;
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}

.bold {
  font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
