.md-remark > * {
  margin-bottom: 2rem;
}

.md-remark ul {
  list-style: disc;
  list-style-position: inside;
}

.md-remark ol {
  list-style: decimal;
  list-style-position: inside;
}

.md-remark > * {
  margin-bottom: 2rem;
}

/* code block */
.md-remark pre {
  padding: 20px;
  white-space: pre-wrap;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
}

.dark .md-remark pre {
  border: 1px solid rgba(55, 65, 81, 1);
  background-color: rgba(17, 24, 39, 1);
}

.md-remark code {
  padding: 2px 4px;
  background-color: rgba(242, 242, 242, 1);
}

.dark .md-remark code {
  background-color: rgba(17, 24, 39, 1);
}
