.description {
  color: var(--secondary-color);
}

.wrapper {
  &:after {
    content: "";
    background: linear-gradient(
      180deg,
      var(--separator-color) 0,
      var(--separator-color) 48%,
      var(--bg)
    );
    min-height: 540px;
    width: 1px;
    min-width: 1px;
    bottom: 0;
  }

  @media screen and (max-width: 1003px) {
    &:after {
      display: none;
    }
  }
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.socialIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--separator-color);
  color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    color: var(--textLink);
  }
}

.menuLink {
  color: var(--primary-color);
  border-bottom: 1px solid transparent;

  &:hover {
    color: var(--textLink);
    border-bottom: 1px solid var(--textLink);
  }
}

.active {
  border-bottom: 1px solid var(--primary-color);
}
